$highlightingColor: #406CC3;
$textColor: #202020;
$GrayColor:#9B9B9B;
$Color47474:#474747;

$gradient-start: #C1C1FE;
$gradient-end: #F8E0FD;

$gradient: linear-gradient(271deg, $gradient-start 0.93%, $gradient-end 55.37%);

$footStart: #FDFDFE;
$footEnd:rgba(253, 253, 254, 0.00);
// border-top: 1px solid #E0E8F0;
$Footerbackground: linear-gradient(180deg,$footStart 0%,$footEnd 42.38%);

$gradientStart:#FDFDFE ;
$gradientEnd:  rgba(253, 253, 254, 0.00);
$backgroundWork: linear-gradient(180deg,$gradientStart 0%,$gradientEnd 42.38%);



// buttons color
$buttonBG:#0070C0;
$btnradius: 8px;

// background color
$colorWhite: #FFF;
$colorRed:rgb(223, 14, 14);
$ColorGrey: #E7E7E7;

