
  
// ===for title variables
$font-family-title:'Noto Sans', sans-serif;
$fontFamilyLato:'Lato', sans-serif;
$zero:0;
$font-size-title:60px;
$fontsizeForty:40px;
$font-style-title:normal;
$font-weight-title:700;
$fontWEight:800;
$fontWeghtSix:600;
$line-height-title:normal;

// === for para variables ====
$font-size-para:20px;
$thirty:30px;
$thirtyFive:35px;
$size32:32px;
$fontSize10:10px;
$fontsize100:100px;
$fontSix:6px;
$font765:765px;
$font111:111px;
$size192:192px;
$size142:142px;
$size95:95px;
$font147:147px;
$fontSize18:18px;
$font-weight-para:400;

$breakpoint: 768px;

// input fields
$placeHolderSize:16px;
$TwelvelSize:12px;
$thirdteen:13px;
$borderInpRadius: 4px;
$fiftyRadius:50%;
$borderInpt: 1px solid rgba(32, 32, 32, 0.40);
$blackColor:rgb(17, 17, 17);

// borders
$borderChechBox: 2px solid #0070C0;
$border1:1px solid #DBDBDB;
$border2:1px solid #DBDBDB;
$borderWork: 1px solid #E0E8F0;
 
// get started

$weightGetStart:500;
// button get start
$btnradius: 8px;

$fontsizefourteen:16px;
$fontsizeTen:11px;
$fontfifteen:15px;
$fontSize14:14px;
$fontseven:7px;
$twofifty:250px;
$fontSize1:0.9rem;
$fontSize90:90px;
$seventy:70px;
$sevenHrd:700px;


//text alignment variables
$center:center;
$right:right;

// width and heights
$widthOne:155px;
$size132:132px;
$size215:215px;
$height1:40px;
$width45:45px;
$width110:105px;
$eighty:80px;
$twentyThree:23px;
$widthThirty:30%;
$widthfifty:50%;
$fortyFive:45%;
$widthfifFive:55%;
$widthhundr:100%;
$fiftySeven:55.7rem;
$fifteen:15rem;
$font61:61rem;
$size025:0.25rem;
$font76:76rem;