$parentPosition:relative;
$childPosition:absolute;
$flexposition:flex;
$positionauto:auto;
$positionStatic:static;
$pointer:pointer;
$positionNone:none;
$fiveTop:5px;
$fiveRight:5px;
$fifTop:50px;


// margin
$marginThirtyF:35px;
$marginTR:20px 95px;
$margin1: 0 0rem 0 5.8rem;
$margin2:0 1rem 0 2rem;
$margin3:1rem 3rem;//1 and 3
$margin4: 0 197px 0 0;
$margin5: 0 0 0  197px;
$margin6:1rem 3rem;
$marginTR1:20px 45px;
$margin13:13rem;
$margin40:40rem;
$margin30:30rem;
$marginCheckLabel:0 8px ;
// padding
$paddingFif:15px;
$padding5:0 0 0 5px;
$padding1:3rem 9rem 0 1.5rem;
$padding2:2rem 1rem;
$padding3:10px 215px;